/* #btn{
float: right;
position: absolute;
left: 950px; 
top: 85px;
}
.form input{
    padding: 10px 20px;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
} */